<div class="hero">
	<div class="flex-col lg:flex-row w-full py-10 lg:py-20">
		<div class="mb-10">
			<h1 class="text-6xl lg:text-7xl text-wrap break-words font-mono font-bold mb-7">
				<strong>Muzhawir</strong> develops web applications and writes technical articles.
			</h1>

			<h2 class="text-4xl lg:text-5xl text-wrap break-words font-mono mb-2">
				A neophyte Elixir alchemist, PHP coder, and novice technical writer.
			</h2>
		</div>

		<div class="flex flex-wrap">
			<a
				class="btn btn-neutral btn-block lg:btn-wide text-xl font-mono rounded-none"
				href="https://github.com/muzhawir"
				target="_blank">GitHub</a
			>
			<a
				class="btn btn-neutral btn-block lg:btn-wide text-xl font-mono rounded-none"
				href="https://linkedin.com/in/muzhawir"
				target="_blank">LinkedIn</a
			>
			<a
				class="btn btn-neutral btn-block lg:btn-wide text-xl font-mono rounded-none"
				href="https://dev.to/muzhawir"
				target="_blank">DEV.TO</a
			>
			<!-- <a href="#" class="btn btn-secondary btn-wide">Resume</a> -->
		</div>
	</div>
</div>
