<div class="hero">
	<div class="flex-col lg:flex-row w-full py-20">
		<div class="mb-10">
			<h1 class="text-7xl font-mono font-bold mb-7">
				<strong>Muzhawir</strong> develops web applications and writes technical articles.
			</h1>

			<h2 class="font-mono text-5xl mb-2">A neophyte Elixir alchemist, PHP coder, and novice technical writer.</h2>
		</div>

		<div>
			<a class="btn btn-neutral btn-wide text-xl font-mono" href="https://github.com/muzhawir" target="_blank">GitHub</a>
			<a class="btn btn-neutral btn-wide text-xl font-mono" href="https://linkedin.com/in/muzhawir" target="_blank">LinkedIn</a>
			<a class="btn btn-neutral btn-wide text-xl font-mono" href="https://dev.to/muzhawir" target="_blank">DEV.TO</a>
			<!-- <a href="#" class="btn btn-secondary btn-wide">Resume</a> -->
		</div>
	</div>
</div>
